.card {
  display: flex;
  gap: 20px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 100%;
  height: 225px;
  border-radius: 8px;
  overflow: hidden;
}

.details {
  flex: 2;
  display: flex;
  position: relative;
  flex-direction: column;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.date,
.description {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}
.date {
  color: #827e7e;
}
.genres {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 8px 0;
}

.genre {
  background-color: #fff;
  color: #827e7e;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.genreTag:hover {
  background-color: #d6d6d6;
}

/* Star Ratings */
.ant-rate {
  font-size: 18px;
  color: #ffcc00;
  transition: color 0.3s ease;
}

.ant-rate-star:hover {
  color: #ff9900;
}
/* Rating Section */
.ratingSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

/* Rating Circle */
.ratingCircle {
  position: absolute;
  top: 10px; /* Adjust to position it inside the top corner */
  right: 10px; /* Adjust to position it inside the right corner */
  width: 40px; /* Size of the circle */
  height: 40px;
  border-radius: 50%; /* Make it a circle */
  color: white; /* Text color */
  background-color: #e0e0e0; /* Default color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  z-index: 10; /* Ensure it appears above the image */
  border: 2px solid white; /* Optional: Add a border for better visibility */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    padding: 16px;
  }

  .imageContainer {
    width: 100%;
    height: 200px;
  }
}
